@import url('https://fonts.googleapis.com/css2?family=Thonburi&display=swap');

.card__title,
.card__content {
  font-family: "Thonburi", sans-serif !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* ให้การ์ดไหลลงเป็นแถวเมื่อพื้นที่หมด */
  gap: 1rem;
  justify-content: center; /* ชิดซ้าย */
  margin-top: 35px;
  margin-bottom: 70px;
}

.card {
  margin-top: 10px;
  width: 250px; /* ขนาดการ์ดในหน้าจอใหญ่ */
  cursor: pointer;
  border-radius: 0.75rem;
  background: #f1f1f3;
  box-shadow: 0px 9px 16px 0px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease-in-out; /* เพิ่มเอฟเฟคขยับ */
  padding: 15px; /* เพิ่ม padding เพื่อให้เนื้อหาดูห่างจากขอบ */
}

.card__title {
  font-size: 14px !important;
  color: #333;
  font-weight: 700;
  text-align: left;
}

.card__content {
  font-size: 14px !important;
  text-align: left;
}

/* สำหรับหน้าจอขนาด 1200px หรือเล็กกว่า */
@media screen and (max-width: 1200px) {
  .card-container {
    justify-content: center; /* จัดการให้การ์ดชิดกลาง */
  }

  .card {
    width: 220px; /* ลดขนาดการ์ด */
  }

  .card__title {
    font-size: 15px;
  }

  .card__content {
    font-size: 13px;
  }
}

/* สำหรับหน้าจอขนาด 768px หรือเล็กกว่า (Mobile หรือ Tablet ขนาดเล็ก) */
@media screen and (max-width: 768px) {
  .card-container {
    gap: 1rem;
    flex-direction: column;
    /* Stack cards vertically */
    align-items: center;
  }

  .card {
    width: 90%;
    /* การ์ดใช้พื้นที่มากขึ้น */
    margin-left: 0;
    margin-right: 0;
  }

  .card__title {
    font-size: 15px;
  }

  .card__content {
    font-size: 15px;
  }
}

/* สำหรับหน้าจอขนาด 480px หรือเล็กกว่า (Mobile ขนาดเล็ก) */
@media screen and (max-width: 480px) {
  .card-container {
    gap: 1rem;
    flex-direction: column;
    /* Stack cards vertically */
    align-items: center;
  }

  .card {
    width: 90%;
    /* การ์ดใช้พื้นที่เกือบเต็มหน้าจอ */
    margin-left: 0;
    margin-right: 0;
  }

  .card__title {
    font-size: 14px;
  }

  .card__content {
    font-size: 11px;
  }
}