.texthome {
  height: 30px;
  font-size: 20px !important;  
  margin-top: 25px;
  margin-left: 30px !important;
  margin-bottom: 5px;
  font-weight: bold; 
}
.texthomecenter{
  height: auto;
  font-size: 20px !important;  
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 4px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  font-weight: bold; 
}
.texthomecenter-small{
  height: auto;
  font-size: 20px !important;  
  margin-top:10px;
  margin-left: 25px;
  margin-bottom: 50px;
  font-weight: 400;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

@media screen and (max-width: 1200px) {
  .texthome, .texthomecenter, .texthomecenter-small {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .texthome, .texthomecenter, .texthomecenter-small {
    font-size: 24px;
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .texthome, .texthomecenter, .texthomecenter-small {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
  }
}