.nearby-institutions-container {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    gap: 20px;
    padding: 20px;
    background-color: #F4F4F4;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .break-line {
    display: block; 
  }
  
  h2 {
    margin-bottom: 0;
  }
  
  .institutions-title h2 {
    display: inline-block; /* ทำให้ข้อความอยู่ในแถวเดียว */
    margin-bottom: 20px; /* ระยะห่างระหว่างข้อความและเส้น */
  }
  
  .main-image {
    flex: 1;
    max-width: 30%;
    display: flex;
    position: relative;
    overflow: hidden;
    height: 300px; /* กำหนดความสูงให้คงที่ */
  }
  
  .main-image img {
    width: 100%;
    height: 100%; /* ให้ความสูงเท่ากัน */
    object-fit: cover; /* ทำให้ภาพเต็มขนาดโดยไม่เสียสัดส่วน */
  }
  
  .right-container {
    background-color: #F4F4F4;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* ชิดซ้าย */
    justify-content: center;
  }
  
  .institutions-title {
    text-align: left;
    padding: 0px 0;
    background-color: #F4F4F4;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 20px; /* ขยับไปทางขวา */
    margin-right: 0;
  }
  
  .institutions-title h2 {
    margin: 0;
    font-size: 1.7rem;
    color: #333;
    font-weight: 700;
  }
  
  .thumbnail-indicator {
    position: absolute;
    top: -5px;
    width: 100px;
    height: 4px;
    background-color: red;
    transition: left 0.3s ease-in-out;
  }
  
  .thumbnail-grid {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 0px 0;
    background-color: #F4F4F4;
    position: relative;
    margin-left: 20px; 
  }
  
  .thumbnail-card {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 10px;
  }
  
  .thumbnail-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .thumbnail-card.active {
    transform: scale(1.1);
    border: 2px solid red;
  }
  
  .institution-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
  }
  