.payment-container {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.Detailed{
  margin-top: 10%;
  margin-right: 0%;
  margin-left: 2%;
}

.header p {
  font-size: 1.25rem;
  color: #4b5563;
}

.upload{
  margin-left: auto;
  margin-right: 4%;
  margin-top: 20px;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}

.back-button {
  width: auto;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #0084ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
  display: block;
}

.back-button:hover {
  background-color: #e5e7eb;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.image-container {
  flex: 1;
  min-width: 250px;
}

.room-image {
  width: 77%;
  height: 550%;
  margin-left: 30px;
  border-radius: 0.375rem;
}

.thumbnail-container {
  display: flex;
  gap: 1rem; /* ระยะห่างระหว่างรูปภาพ */
  margin-top: 0.5rem;
  margin-left: 30px;
  justify-content: flex-start; /* จัดชิดซ้าย */
}

.thumbnail-image {
  width: 109px;
  height: 80px;
  object-fit: cover;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.thumbnail-image:hover {
  opacity: 0.8;
}

.room-details {
  flex: 1;
  min-width: 250px;
  margin-left: -120px;
}

.room-details h2{
  font-weight: bold;
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.icon-item img {
  width: 24px;
  height: 24px;
}

.confirm-button {
  width: auto;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  background-color: #0084ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 30px;
  display: block;
}

.confirm-button:hover {
  background-color: #006bb3;
}

.payment-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
}

/* Responsive Media Queries */
@media screen and (max-width: 1024px) {
  .details-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    font-size: 20px;
  }
  .confirm-button {
    font-size: 16px;
  }
  .upload {
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    font-size: 18px;
    padding: 15px;
  }
  .confirm-button {
    font-size: 14px;
  }
  .upload {
    width: 100%;
    text-align: center;
  }
}
