.image-container {
    width: 70px;
    height: 80px;
    object-fit: cover;
    border-radius: 0.375rem;
    flex-direction: row;

}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.name_room {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 20px;
}

.price {
    color: #555;
    font-size: 0.875rem;
    margin-left: auto;
}

.priceC {
    color: #0084ff;
    font-size: 20px;
    margin-left: auto;
    font-weight: bold;
}

.detailss-container {
    display: block;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
}

.add {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.detailss-containerr {
    display: block;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
}
.detailss-containerrr {
    display: block;
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
}

